/* Frame */
QFrame {{
    border-radius: 15px;
}}

/* Buttons */
QPushButton {{
    border-radius: 10px;
}}
QPushButton:focus {{
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}
QPushButton:hover {{
    background-color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}

/* Menu Buttons */
.menu_button {{
    border-radius: 10px;
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    border: none;
    background-color: transparent;
}}
.menu_button:hover{{
    padding-left: 10px;
}}
.menu_button:checked{{
    padding-left: 5px;
}}

/* Classes for buttons */
.fill_button {{
    border-radius: 10px;
    background-color: {QTMATERIAL_PRIMARYCOLOR};
    color: {QTMATERIAL_PRIMARYTEXTCOLOR}
}}
.fill_button_inverted {{
    border-radius: 10px;
    background-color: {QTMATERIAL_PRIMARYCOLOR};
    color: {QTMATERIAL_SECONDARYCOLOR}
}}
.rec_button {{
    border-radius: 40px;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border: 1px solid gray;
}}
.rec_button:disabled {{
    border-radius: 40px;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border: 1px solid gray;
}}
.rec_button:hover {{
    border-radius: 40px;
    background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
    border: 1px solid gray;
}}
.danger:hover {{
    background-color: #ffeded;
}}
.danger:focus {{
    background-color: #ffeded;
}}

/* Label */
QLabel {{
    font-size: 18px;
}}

/* Line Edit */
QLineEdit {{
    border-radius: 15px;
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}}

/* Combo box */
QComboBox {{
    border-radius: 10px;
    font-size: 15px;
    color: {QTMATERIAL_SECONDARYTEXTCOLOR}
}}
QComboBox QAbstractItemView {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}

/* Scroll bar */
QScrollBar:vertical {{
    width: 10px; 
    background-color: transparent;
}}
QScrollBar::handle:vertical {{
    background-color: {QTMATERIAL_PRIMARYCOLOR}; 
    border-radius: 5px;
}}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {{
    background-color: transparent; 
}}

/* classes */
.archive_list {{
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
}}
.archive_list::item {{
    padding: 10px;
}}
.archive_list::item QWidget {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}
.archive_list::item:hover {{
    background-color: {QTMATERIAL_PRIMARYLIGHTCOLOR};
    border-radius: 10px;
    padding: 15px;
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}
.archive_list::item:selected {{
    padding: 20px;
    border-radius: 10px;
}}
.custom_menu {{
    border: none;
    border-radius: 0px;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
}}
.red_label {{
    color: red;
    font-size: 20px
}}

